<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/topo.partials.ejs') %>
</head>

<body>
    <h1>Centro de Formacao</h1>

    <%- include ('partials/menus.partials.ejs') %>
        <%- include ('partials/footer.partials.ejs') %>
</body>

</html>